@media (max-width: 800px) {
  body {
    flex: 100%;
  }

  .left,
  .right {
    flex: 100%;
    justify-content: center;
  }

  nav,
  ul {
    flex: 100%;
    justify-content: center;
  }

  .leftSection {
    flex: 80%;
    text-align: center;
  }

  .second-section {
    padding: 20px;
  }

  .aboutSection{
    flex:100%;
  }

  .two{
    width:100%;
  }

  .third-section {
    margin-top: 400%;
  }

  .service,
  .s-left,
  .s-middle,
  .s-right,
  .card,
  .card-items,
  .contact-section,
  .contact-connect,
  .contact-info{
    flex: 100%;
    align-items: center;
    justify-content: center;
  }

  #submit{
    width: 80%;
  }
}
